#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 10px;
}

@media screen and (max-width: 768px) {
    #grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
}